body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #222;
}

header {
  background: #004080;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

header .logo {
  font-size: 20px;
  font-weight: bold;
}

header nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: url("../foto11.png") no-repeat center/cover; /* фонова картинка */
  color: white;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 5px;
  display: inline-block;
}

.btn.orange {
  background: #ff6600;
}

.btn.blue {
  background: #0073e6;
}

footer {
  text-align: center;
  padding: 15px;
  background: #eee;
  margin-top: 40px;
}